VITE_CONTACT_PHONE=05306557217
VITE_CONTACT_WHATSAPP=905306557217
VITE_CONTACT_EMAIL=info@golgepsikoloji.com.tr
VITE_CONTACT_ADDRESS=Ankara, Türkiye
VITE_INSTAGRAM_URL=https://instagram.com/yourusername
VITE_WHATSAPP_COUNTRY_CODE=90
VITE_WHATSAPP_ENABLED=true
VITE_WHATSAPP_DEFAULT_MESSAGE=Merhaba, randevu almak istiyorum.
VITE_CONTACT_HOURS=
VITE_CONTACT_APPOINTMENT_NOTE=
