VITE_WHATSAPP_NUMBER=530 655 76 98
VITE_WHATSAPP_COUNTRY_CODE=90
VITE_WHATSAPP_ENABLED=true
VITE_WHATSAPP_DEFAULT_MESSAGE=
VITE_INSTAGRAM_URL=https://www.instagram.com/psikolog_ozdenunsal
VITE_INSTAGRAM_USERNAME=psikolog_ozdenunsal
VITE_INSTAGRAM_DM_URL=https://ig.me/m/psikolog_ozdenunsal
VITE_CONTACT_PHONE=+90 530 655 76 98
VITE_CONTACT_EMAIL=
VITE_CONTACT_ADDRESS=Hera Danışmanlık Merkezi Ümit Mah. 2546. Sk. No:15/05 Çankaya / Ankara 
VITE_CONTACT_HOURS=
VITE_CONTACT_APPOINTMENT_NOTE=
